*.lock
*.log
*~*
/el-get
eshell/
*#*
*%*
.smex-items
session.*
abbrev_defs
.emacs.desktop
.session
ido.last
ac-comphist.dat
/semanticdb
/.python-environments
/elpa
/.cache
projectile-bookmarks.eld
GPATH
GRTAGS
GTAGS
*.swp
